.songRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.45rem;
  color: #ffffff;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.song__data {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.songRow:hover {
  opacity: 0.8;
  background-color: #000;
}

.songRow .song__cover {
  width: 50px;
}

.songRow .songRow__info .song__name {
  font-size: 1rem;
}

.songRow .songRow__info .song__description {
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, .7);
  margin: 0.25rem 0 0 0;
}

.song__name,
.song__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 145px;
  max-width: 155px;
}

.order {
  color: #b3b3b3;
  min-width: 18px;
}

.songRow .song__album {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 0 0 100px; */
  /* flex: 1; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-end; */
  /* margin: 0 0 0 11px;
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* flex: 1; */
  max-width: 74%;
}

.songRow .song__album .song__album__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width : 726px) {
  /* .songRow {
    padding: 0.5rem 0;
  } */

  .song__data {
    gap: 0.5rem;
  }

  .songRow .songRow__info .song__name {
    font-size: 0.8rem;
  }

  .song__name,
  .song__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100px;
    max-width: 105px;
  }

  .songRow .song__album .song__album__name {
    display: none;
  }

  .song__time {
    font-size: 0.8rem;
  }
}