.sidebar {
  border: 1px solid #000;
  min-width: 240px;
  height: 100vh;
  color: #ffffff;
  background-color: #040404;
  flex: 0.2;
}

.sidebar .sidebar__logo {
  margin: 1rem 0 0;
  padding: 1rem;
}

.sidebar svg {
  height: 40px;
  width: 150px;
}

.playlist {
  margin: 2rem 0 0;

}

.playlist .playlist__title {
  display: block;
  position: relative;
  padding: 0 1.5rem;
}

.playlist .playlist__title::after {
  content: "";
  width: 80%;
  height: 1.25px;
  background-color: #282828;
  position: absolute;
  bottom: -0.5rem;
  left: 10%;
}

@media (max-width : 726px) {
  .sidebar {
    min-width: 125px;
  }

  .sidebar svg {
    width: 90px;
  }
}