.login {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.login img {
  width: 85%;
}

.login .btn {
  padding: 1rem 0;
  border-radius: 10rem;
  background: #1db954;
  overflow: hidden;
}

.login a {
  padding: 1rem 3rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.1rem;
}